

<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="logo">
          <a class="site-title" href="{{ url }}/">
            <img src="{{ site.logo.img }}" class="portrait" alt="{{ site.logo.alt }}">
          </a><!-- .site-title -->
        </div><!-- .logo -->
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <label>Contacts</label>
        <ul class="contact-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          {% if site.github.username %}
          <li>
            {% include icon-github.html username=site.github.username %}
          </li>
          {% endif %}

          {% if site.twitter.username %}
          <li>
            {% include icon-twitter.html username=site.twitter.username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <label>Info</label>
        <nav>
            <ul>
              {% for p in site.pages %}
                {% if p.menu.bottom and p.title %}
                <li>
                  <a  href="{{ p.url | prepend: site.url }}">
                    {% if p.menu.name %} 
                      {{ p.menu.name }} 
                    {% else %}
                      {{ p.title | escape }} 
                    {% endif %}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
        </nav>        
      </div>
    </div>

  </div>
 
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl | prepend: site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,700italic,400,700" rel="stylesheet" type="text/css">

</footer>
