
{% if blog %}
  {% for post in site.posts %}
      {% if post.featured.show %}
      <div class="featured-posts">
          {% include posts.html %}
      </div>
    {% endif %}
  {% endfor %} 
{% endif %}

<div class="posts-index" itemscope itemtype="http://schema.org/BlogPosting">  


  {% if frontpage or page.latest_posts %}
    {% for post in site.posts limit: 4 %}
      {% include posts.html %}
    {% endfor %}
  {% else %}
    {% for post in site.posts %}
      {% include posts.html %}
    {% endfor %}  
  {% endif %}
  


  
  
  <!-- <p class="rss-subscribe">subscribe <a href="{{ " feed.xml"="" |="" prepend:="" site.baseurl="" }}"="">via RSS</a></p>-->
        
</div> <!-- .home .blog .posts-index -->  

{% if frontpage  %}
<div class="btn"><a href="{{ site.url }}/blog">All article</a> </div>
{% endif %}