<div class="tile-wall" itemscope itemtype="http://schema.org/BlogPosting">  

{% if blog or post.featured %}
  <!-- Jooo -->
  <div class="featured-posts">
  <ul class="tile-wrapper">
  {% for post in site.posts %}

      {% assign number=forloop.index %}

    
    {% if post.featured.show %}
          
          {% include posts.html p=number %}
        
    {% endif %}
  {% endfor %} 
  </ul>
  </div>
  <!-- Kooo -->
{% endif %}



  {% if frontpage or page.latest_posts %}
    <ul class="tile-wrapper">
    {% for post in site.posts limit: 4 %}
        {% include posts.html %}
    {% endfor %}
    </ul>
  {% else %}
    <ul class="tile-wrapper">
    {% for post in site.posts %}
        {% assign number=forloop.last %}    
        {% include posts.html p=number %}
    {% endfor %}  
    </ul>
  {% endif %}
  


  
  
  <!-- <p class="rss-subscribe">subscribe <a href="{{ " feed.xml"="" |="" prepend:="" site.baseurl="" }}"="">via RSS</a></p>-->
        
</div> <!-- .home .blog .posts-index -->  

{% if frontpage  %}
<div class="btn"><a href="{{ site.url }}/blog">All article</a> </div>
{% endif %}