
{% if post.featured.show %} 
  {% assign foobarbaz = "featured" %}
{% else %}
  {% assign foobarbaz = " " %}
{% endif %}

{% if post.featured.image %}
  {% assign featuredimg = post.featured.image  %} 
{% endif %}

{% if include.p == true %}
  {% assign item = "1"  %}
{% else %}
  {% assign item = ""  %}
{% endif %}
<li class="tile-component {{ item }} ">
  <a class="tile-component-link" aria-label="{% if post.title_in_home %}{{ post.title_in_home }}{% else %}{{ post.title | escape }}{% endif %}" href="{{ post.url | prepend: site.url }}">
    <article class="tile-content {{ foobarbaz }}" >
      <header class="tile-header">
        <div class="tile-media">
          <div class="image" style="background-image: url({{ featuredimg }});">

          </div>
        </div>
        <div class="tile-title">
          <h2>         
            {% if post.title_in_home %}{{ post.title_in_home }}{% else %}{{ post.title | escape }}{% endif %}
          </h2>
        </div>
        <div class="tile-summary">
          <p class="post-summary">
            {{ post.summary | default: post.content | strip_html | normalize_whitespace | truncate: 86 | escape }}
          </p>
        </div>
      </header>
      <footer class="tile-entry">
        <div class="date">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            <b>{{ post.date | date: "%-d %b %Y" }}</b>
          </time>
        </div>
      </footer>
    </article>
  </a>
</li>