---
layout: base
---

{%- comment -%} 
Questo è un file di layout.
{%- endcomment -%}


<!-- blog.html -->
<main class="layout-main" aria-label="Content">
    
    <div class="layout-wrapper">
    
    {% include snippet_preview.html %}

    <div> 

        <article >

            {% include page-title.html %}

            {% include featured_posts.html %}            
            
            <hr class="before-posts-sort-by-date">

            {% include all_posts_sort_by_date.html %}
    
        </article>

    </div>

        


    </div><!-- .layout-wrapper -->
</main><!-- .layout-main -->
<!-- END blog.html -->


