---
layout: page
---
        {% assign frontpage = true %}
        
        <!-- frontpage.html --> 
        {%- comment -%}                                      
        {% if page.section.blackquote %}
        <section class="frontpage-section">
                <div class="fps-wrap">
                        <blockquote>
                                <p>{{ page.section.blackquote }}</p>
                                {% if page.section.cite %}
                                <footer>— <cite>{% if page.section.link %}<a href="{{ page.section.link | escape }}">{% endif %}{{ page.section.cite }}{% if page.section.link %}</a>{% endif %}</cite></footer>
                                {% endif %}
                        </blockquote>
                </div>
        </section>
        {% endif %}
        {%- endcomment -%} 
        
        <div class="layout-wrapper">
        
          {{ content }}
                
          {% if page.latest_posts %}      
            {% include latest_posts.html %}
          {% endif %}        
        </div>
        <!-- END frontpage.html --> 