---
layout: compress
---

{% include temp-top.html %}
    <!-- page.html -->
    <main class="layout-main" aria-label="Content">
      {% if page.layout != "frontpage" %}
      <div class="layout-wrapper">
      {% endif %}       
        
        {% if page.layout != "frontpage" and page.layout != "post"  %}
          <article class="page">
            {% include page-title.html %}
          </article>
        {% endif %}
        
        {{ content }}

        {% if page.latest_posts and page.layout != "frontpage" %}
          <h2>Golden posts</h2>
          {% include loop-blog.html %}
        {% endif %}

      {% if page.layout != "frontpage" %}
      </div><!-- .layout-wrapper -->
      {% endif %}
    </main><!-- .layout-main -->
    <!-- END page.html -->
{% include temp-bottom.html %}
