---
layout: base
---


    <!-- page.html -->
    <main class="layout-main" aria-label="Content">
      
        <div class="layout-wrapper">
      
          {% include snippet_preview.html %}
        
        <div class="flex-it"> 
          <article class="page-container is-fixed">
            {% include page-title.html %}
            {{ content }}
          </article>

        </div>

            


        </div><!-- .layout-wrapper -->
    </main><!-- .layout-main -->
    <!-- END page.html -->