// Featured Posts
// =============================================================================

.featured-posts{
    @media (max-width: 426px) {
        position: relative;
        width: 111%;
        margin-left: -5.5%;
        overflow: hidden;
        margin-right: -5.5%;
    }

    @media (min-width: 427px) and (max-width: 769px) {

    }
    
    ul.tile-wrapper {
        @media (max-width: 426px) {
            align-items: stretch;
            flex-flow: row;
            overflow-x: scroll;
            padding-left: 5%;
            padding-right: 5%;
            width: 90%;
            padding-bottom: 0.5em;
        }
       /*
        @media (min-width: 427px) {
            flex-flow: wrap;
            padding-left: 0;
            padding-right: 0;
            overflow: visible;
            width: 100%;

            @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
                display: inline-block;
            }
        }
        */
    }


    .tile-component{
 
        @media (max-width: 426px) {    
          padding-right: 0.5em;
          
          /*  
          @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
              width: 73%;
              margin-left: auto;
              margin-right: auto;
          }
          */
        }
    }


    li.tile-component._giant{
   
        &:before{
          
            content: '★';
            position: absolute;
            z-index: 5;
            background: #D91E36;
            right: 5%;
            top: -1px;
            padding: .2em;
            border-bottom-left-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
            color: #ffffff;
            
            @media (min-width: 427px) { 
              right: 1em;
              margin-top: 1px;
              margin-left: 1px;
            }

            @media (min-width: 769px) { 
                right: 8%;
            }

            @media (min-width: 1281px) { 
                right: 2%;
            }
            
        }

        &:hover{ 
            
            &::before{ 
                content: 'TOP POST' ; 
                font-size: 0.6em;
                font-weight: normal;
                padding: .6em;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: .8em;
                padding-bottom: .8em;
                right: -1px;
                letter-spacing: 2px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background: #595758;
                width: 28.1%;
                text-align: right;
                opacity: 0.8;

            }
         }

    }

    li.tile-component:last-child{
        
        @media (max-width: 426px) {
            padding-right: 5%;      

            @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
                padding: 0;
            }
          }  
    }
}