/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Allow height 100% 
*/
body, html{
	height: 100%;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-palm;
    color: $text-color;
    background-color: #29292C;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    
    @include media-query(768px){
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-laptop;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Paragraph
*/

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    @include media-query($on-laptop) {
        font-size: 1.25em;    
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    letter-spacing: -1px;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 2em;
    
    @include media-query($on-laptop){
        margin-top: 2em;
        margin-bottom: 4em;
    }

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 5%;
    padding-left: 5%;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }
}

.wrapper-logo{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    
    @include media-query($on-laptop){
        position: relative;
        max-width: $content-width;
    }
}
/**
 * Frontpage
*/
.isFrontpage{
    
    .wrapper-logo{
        display:flex;
        align-items: center;        
        height: 100%;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: column;
    } 
}


.frontpage-title{
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%;
    text-align: center;
}


/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: $grey-color;
    }
}


/**
 * hr
*/

hr {
    background: #eee;
    border: 0;
    height: 5px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    clear: both;
}

