/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Allow height 100% 
*/
body, html{
	height: 100%;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-palm;
    color: $text-color;
    background-color: #29292C;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    
    @include media-query(768px){
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-laptop;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Paragraph
*/

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    @include media-query($on-laptop) {
        font-size: 1.25em;    
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.logo{ 

    a {
        color: #ffffff;
        display: block;
        padding-bottom: .6rem;
        padding-top: .6rem;
        width: 7em;

        img{ 
            width: 100%;
        }            
    }

}

.isFrontpage {

    .site-header{

        &::before{
            content: "";
            background-color: #00a2db;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
        }

        &::after {
            background-image: url("https://images.unsplash.com/photo-1484542603127-984f4f7d14cb?dpr=1&auto=format&fit=crop&w=1500&h=902&q=80&cs=tinysrgb&crop=");
            background-position: center;
            background-size: cover;
            bottom: 0;
            content: "";
            left: 0;
            opacity: 0.2;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;   
        }        
        
        .wrapper-logo{
            
            &:after{
                -ms-transform: rotate(90deg) scale(1,2); /* IE 9 */
                -webkit-transform: rotate(90deg) scale(1,2); /* Chrome, Safari, Opera */
                bottom: -.62em;
                color: #59d3fe;
                content:"›";
                font-size: 3em;
                position: fixed;
                transform: rotate(90deg) scale(1,2);                
                z-index: -1;
                
                @include media-query(768px){
                    font-size: 5em;
                }
                
            }            
            
            .logo {
                
                a {
                    width: 11em;

                    @include media-query(768px) {
                        width: 22.5em;    
                    }
                }        
            }


        }    
    }//site.header


    /* Manage menù input beaviour in isFrontpage page  */
    input[id=show-menu]:checked ~ .site-header > .wrapper-logo > .logo {
        
        a {
            width: 7em;
        }
    }

}

/**
 * Manage menù input beaviour in other page 
 */

/*Hide checkbox*/
input[id=show-menu]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[id=show-menu]:checked ~ .site-header > .wrapper-logo > #menu > ul{
    
    display: block;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    letter-spacing: -1px;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 2em;
    
    @include media-query($on-laptop){
        margin-top: 2em;
        margin-bottom: 4em;
    }

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: $grey-color;
    }
}


/**
 * hr
*/
hr {
    background: #eee;
    border: 0;
    height: 5px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    clear: both;
}

